.p-contact {
  background-color: #fff;
}
.p-contact_map {
  height: 300px;
  text-align: center;
  overflow: hidden;
}
.p-contact_map-img {
  width: 100%;
  max-width: 1920px;
}
.p-contact_main {
  padding: 32px 0;
}
.p-contact-info_items {
  color: #555555;
}
.p-contact-info_item {
  margin: 8px 0;
}
.p-contact-info_label {
  padding: 0;
  font-weight: bold;
  color: #555555;
}
.p-contact-info_value {
  font-size: 14px;
}
.p-contact-info_email {
  font-weight: bold;
  color: #1abc9c;
  text-decoration: underline;
}
.p-contact-info_send {
  padding: 12px 20px;
  border: 0;
  color: #fff;
  background-color: #1abc9c;
}
