.category {
  padding: 16px 16px 32px 16px;
  background-color: #fff;
}
.category_head {
  padding: 8px 0;
  border-bottom: 1px solid #E2E2E2;
  font-weight: bold;
  color: #555555;
}
.category_items {
  padding-top: 20px;
}
.category_item {
  display: block;
  margin-top: 4px;
  color: #555555;
}
.category_item:before {
  content: "\f054";
  display: inline-block;
  margin-right: 28px;
  font-family: FontAwesome;
}
