.recommendations:before,
.recommendations:after {
  content: " ";
  display: table;
}
.recommendations:after {
  clear: both;
}
.recommendation {
  float: left;
  width: 50%;
  padding: 0 16px;
  margin: 16px 0;
}
.recommendation_inner {
  border-bottom: 4px solid #1abc9c;
  background-color: #fff;
}
.recommendation_name {
  display: block;
  padding: 16px;
}
.recommendation_img {
  display: block;
  position: relative;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
