/* 
* @Author: seven
* @Date:   2016-01-10 14:27:19
*/
.breadcrumb {
  padding: 32px 0;
  background-color: #dfdfdf;
}
.breadcrumb_item {
  display: inline-block;
  font-weight: bold;
  color: #555555;
}
.breadcrumb_current {
  text-decoration: none;
}
.breadcrumb_delimiter {
  margin: 0 16px;
  color: #333333;
}
